body {
	background: red;
}
.wrapperLeft {
	top: 581px;
	left: 5px;

    overflow: hidden;
    position: relative;
  }
  .holderLeft {
    overflow: hidden;
  }

.wrapperRight {
	top: 125px;
	left: 1580px;

    overflow: hidden;
    position: relative;
  }
  .holderRight {
    overflow: hidden;
  }