body {
	font-family: Audiowide, sans-serif;
	background: red;
}

#left_nameplate {
	position: absolute;
	top: 7px;
	left: 0%;
	/* border-radius: 0px 0px 30px 0px; */

	display: flex;
	flex-direction: column;

	overflow: hidden;
	margin-left: 65px;
	/*clip-path: 
            polygon(
                100% 0,
                100% 0, calc(100% - 40px) 100%,
                0 100%,
                0 0
            );*/
}

#right_nameplate {
	float: right;
	top: 5px;
	display: flex;
	justify: right;
	flex-direction: column;

	overflow: hidden;
	margin-right: 55px;
	/*clip-path: 
            polygon(
                100% 0,
                100% 0, 100% 100%,
                40px 100%,
                0 0
            );*/
}

.text {
	/*background: white;*/
    font-size: 20px;
	padding: 0 25px 0 25px;
	width: fit-content;
	overflow: hidden;
	white-space: nowrap;
}

#left_deck {
	color: black;

	margin-bottom: 3px;
	letter-spacing: 2px;
	font-weight: bold;
}

#right_deck {
	color: black;

	margin-bottom: 3px;
	letter-spacing: 2px;
	font-weight: bold;
}
